.docs-btn {
    width: 140px;
    height: 50px;
    background-color: var(--prussian-blue);
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
    color: var(--honey-dew);
    border: none;
    border-radius: 14px;
    margin: 0px 20px;
}

.submit-btn {
    width: 160px;
    height: 60px;
    background-color: var(--prussian-blue);
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
    color: var(--honey-dew);
    border: none;
    border-radius: 14px;
    margin: 20px 0px;
}

.docs-btn, .submit-btn {
    box-shadow: 0px 0px 10px 2px var(--shadow-color);
}

.docs-btn:hover, .submit-btn:hover {
    background-color: var(--blue-yonder);
    cursor: pointer;
}

.docs-btn:active, .submit-btn:active {
    background-color: var(--orange-red);
}

@media only screen and (min-width: 768px) {
    .docs-btn {
        margin: 10px 0px;
    }
}
@media only screen and (min-width: 992px) {
    .docs-btn {
        margin: 0px 20px;
    }
}