.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.form-inputs {
    display: flex;
    justify-content: space-between;
}
.form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.form-label {
    font-weight: 500;
    margin-bottom: 10px;
}
.form-input {
    padding: 2px 5px 2px 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px var(--shadow-color);
    background-color: var(--honeydew-opaque);
    font-family: montserrat;
    font-weight: 500;
    color: var(--prussian-blue);
}
.form-textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.form-textarea {
    padding: 2px 5px 2px 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px var(--shadow-color);
    background-color: var(--honeydew-opaque);
    font-family: montserrat;
    font-size: 16px;
    font-weight: 500;
    color: var(--prussian-blue);
    resize: none;
}
.form-submit-message {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus, textarea:focus {
    outline: 2px solid var(--orange-red);

}

@media only screen and (min-width: 768px) {
    .form-inputs {
        flex-direction: column;
    }
    .form-label {
        font-size: 16px;
    }
    .form-input {
        height: 38px;
        margin-bottom: 12px;
        font-size: 15px;
    }
    .name-input, .email-input, .subject-input {
        width: 480px;
    }
    .form-textarea {
        width: 480px;
        height: 160px;
    }
}
@media only screen and (min-width: 992px) {
    .form-inputs {
        flex-direction: row;
    }
    .form-label {
        font-size: 18px;
    }
    .form-input {
        height: 40px;
        margin-bottom: 15px;
        font-size: 16px;
    }
    .name-input, .email-input {
        width: 320px;
    }
    .subject-input {
        width: 690px;
    }
    .form-textarea {
        width: 690px;
    }
}
@media only screen and (min-width: 1200px) {
    .name-input, .email-input {
        width: 420px;
    }
    .subject-input {
        width: 889px;
    }
    .form-textarea {
        width: 890px;
    }
}