.contact {
	width: 100%;
	height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.contact-container {
    width: 100%;
    height: 90%;
}



.contact-footer {
    width: 100%;
}