.router {
    display: flex;
    flex-direction: row;
}
.side-bar {
    height: 100vh;
    position: fixed;
    background-color: var(--blue-yonder);
    z-index: 1;
}
.fade-in {
    animation: fadeInOnPageLoad 1.25s ease 0s 1 forwards;
}
.side-bar-hover {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: fixed;
    background-color: var(--blue-yonder);
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.25);
    animation: hideOnPageLoad 1.25s linear 0s 1 forwards;
    transition: width .5s;
}
.side-bar-logo {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    position: fixed;
    padding-top: 60px;
}
.side-bar-logo-img {
    height: auto
}
.side-bar-links {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.side-bar-link-list {
    position: relative;
    margin: 0;
    padding: 0;
}
.side-bar-link {
    list-style-type: none;
    padding: 20px;
}
.link {
    color: var(--honeydew);
    text-decoration: none;
    font-weight: 500;
}
.link:hover {
    color: var(--honeydew-opaque);
    font-weight: 600;
}
.link:active {
    color: var(--orange-red);
}
.active-link {
    background: none;
    color: var(--orange-red);
}

@keyframes widenOnPageLoadDesktop {
    0% {
        width: 0px;
        box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.25);
    }
    100% {
        width: 200px;
        box-shadow: none;
    }
}
@keyframes widenOnPageLoadTablet {
    0% {
        width: 0px;
        box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.25);
    }
    100% {
        width: 180px;
        box-shadow: none;
    }
}
@keyframes fadeInOnPageLoad {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}
@keyframes hideOnPageLoad {
    0% {
        opacity: 0%;
    }
    75% {
        opacity: 0%
    }
    100% {
        opacity: 100%
    }
}

@media only screen and (min-width: 768px) {
    .side-bar {
        width: 180px;
        animation: widenOnPageLoadTablet 1s ease-in 0s 1 forwards;
    }
    .side-bar-hover {
        width: 180px;
    }
    .side-bar-hover:hover {
        width: 230px;
    }
    .side-bar-logo-img {
        width: 110px;
    }
    .link {
        font-size: 17px;
    }
}

@media only screen and (min-width: 992px) {
    .side-bar {
        width: 200px;
        animation: widenOnPageLoadDesktop 1s ease-in 0s 1 forwards;
    }
    .side-bar-hover {
        width: 200px;
    }
    .side-bar-hover:hover {
        width: 260px;
    }
    .side-bar-logo-img {
        width: 120px;
    }
    .link {
        font-size: 19px;
    }
}