.router {
    display: flex;
}

.side-bar {
    width: 10%;
    height: 100vh;
    position: fixed;
    background-color: var(--blue-yonder);
    animation: widenOnPageLoad 1s ease-in 0s 1 forwards;
}

.fade-in {
    animation: fadeInOnPageLoad 1.25s ease 0s 1 forwards;
}

.side-bar-hover {
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: fixed;
    background-color: var(--blue-yonder);
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.25);
    animation: hideOnPageLoad 1.25s linear 0s 1 forwards;
    transition: width .5s;
}

.side-bar-hover:hover {
    width: 15%;
}

.side-bar-logo {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    position: fixed;
    padding-top: 60px;
}

.side-bar-logo-img {
    width: 120px;
    height: auto
}

.side-bar-links {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.side-bar-link-list {
    position: relative;
    margin: 0;
    padding: 0;
}

.side-bar-link {
    list-style-type: none;
    padding: 20px;
}

.link {
    color: var(--honeydew);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.link:hover {
    color: var(--honeydew-opaque);
    font-weight: 600;
}

.link:active {
    color: var(--orange-red);
}

@keyframes widenOnPageLoad {
    0% {
        width: 0%;
        box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.25);
    }
    100% {
        width: 10%;
        box-shadow: none;
    }
}
@keyframes fadeInOnPageLoad {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}
@keyframes hideOnPageLoad {
    0% {
        opacity: 0%;
    }
    75% {
        opacity: 0%
    }
    100% {
        opacity: 100%
    }
}