.portfolio {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.portfolio-container {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}