.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--honeydew-opaque);
    box-shadow: 0px 0px 15px 2px var(--shadow-color);
    border-radius: 18px;
}
.slide-btns {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.slide-btn {
    font-weight: 500;
    color: var(--black-coral);
    background-color: transparent;
    border: none;
}
.slide-btn:hover {
    cursor: pointer;
    font-size: 48px;
    color: var(--prussian-blue);
}
.slide-btn:active {
    color: var(--orange-red);
}
.dot {
    border: none;
    border-radius: 50%;
    background-color: var(--honeydew);
    box-shadow: 0px 0px 4px 1px var(--shadow-color);
}
.dot:hover {
    cursor: pointer;
}
.active {
    background-color: var(--prussian-blue);
}

@media only screen and (min-width: 768px) {
    .slider-container {
        /* width: 900px;
        height: 600px;
        margin-bottom: 80px; */
    }
    .slide-btns {
        /* width: 750px;
        height: 100px; */
    }
    .slide-btn {
        /* width: 60px;
        height: 60px;
        font-size: 38px; */
    }
    .slide-btn:hover {
        /* font-size: 46px; */
    }
    .dots-container {
        /* width: 120px;
        height: 50px; */
    }
    .dot {
        /* width: 15px;
        height: 15px;
        margin: 0px 10px; */
    }
    .active {
        /* width: 18px;
        height: 18px; */
    }
}
@media only screen and (min-width: 992px) {
    .slider-container {
        width: 750px;
        height: 600px;
        margin-bottom: 80px;
    }
    .slide-btns {
        width: 750px;
        height: 100px;
    }
    .slide-btn {
        width: 50px;
        height: 50px;
        font-size: 38px;
    }
    .slide-btn:hover {
        font-size: 46px;
    }
    .dots-container {
        width: 120px;
        height: 50px;
    }
    .dot {
        width: 15px;
        height: 15px;
        margin: 0px 10px;
    }
    .active {
        width: 18px;
        height: 18px;
    }
}
@media only screen and (min-width: 1200px) {
    .slider-container {
        width: 900px;
    }
    .slide-btns {
        width: 900px;
        height: 100px;
    }
    .slide-btn {
        width: 70px;
        height: 70px;
        font-size: 40px;
    }
    .slide-btn:hover {
        font-size: 48px;
    }
}